//primary colors

//texts
$paleViolet: hsl(276, 100%, 81%); //subheading at top of app UI
$moderateViolet: hsl(276, 55%, 52%); //chat-left text
$desaturatedDarkViolet:  hsl(271, 15%, 43%); //chat on right
$grayishBlue: hsl(206, 6%, 79%); //placeholder text
$veryDarkDesaturatedViolet: #3e2753; //main heading
$rightPText: #B3B3B5; 

//gradients (linear grad)
$lightMagenta: #e942ff; 
$lightViolet: #8838ff;

//secondary
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%); //appbackground
$chtLeftBubble: #EDE5F4;
$rightBoner: #F9F4FA;

//bodycopy
$bodyDefaultTxt: 1rem;
$chatBubText: 0.5625rem;
$chatBubLh: 1.4;
$chatBubPad: 0.5rem;


//fontweights
$small: 400;
$medium: 500;
$large: 700;